body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center; /* Ahora se centra horizontalmente */
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0; /* Elimina el margen predeterminado de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
